
/* 横スクロールボックス */
.matchOrders-box {
  overflow-x: auto; /* 横スクロールを有効に */
  white-space: nowrap; /* 水平レイアウトを維持 */
  max-width: 100%;
}


.before-match{
  background-color: #ffffff;

}
.after-match{
  background-color: #d8d8d8;

}