.dashboard-widget__ribbon{
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  padding: 2px 10px;
  font-size: 15px;
  font-weight: bold;
  color: #fff;
  background-color: #FF6347; /* Bootstrap primary color */
  border-radius: 0.25rem;
}